.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			.row
				.col-md-3.icon
					i.fa.fa-user-secret
				.col-md-8
					a.navbar-brand.brand(href='/') SwarTessera

		.navbar-collapse.navbar-collapse
			ul.nav.navbar-nav.tab
				li
					a(href='/') Home
				li
					h3 |
				li
					a(href='/') About
				li
					h3 |
				li
					a(href='/select-grid') Gallery
				li
					h3 |
				li
					a(href='/signup') Register
				li
					h3 |
				li
					a(href='/') Contact
			.navbar-right
				if(!user)
					form.navbar-form(action='/signin' method="get")
						button.btn.btn-primary.signin-btn Sign In
			
