extends ./includes/layout
block main

  .container-fluid#contact-us
    .row.positn
      .col-md-4.text-center
        .row
          img(src='http://i.imgur.com/ACum3yx.png')
        .row
          h2.c Cheryl Rodrigues
      .col-md-4.text-center
        .row
          img(src='http://i.imgur.com/5hJ2CbZ.png')
        .row
          h2.l Lisa D'mello
      .col-md-4.text-center
        .row
          img(src='http://i.imgur.com/CopHrZj.png')
        .row
          h2.k Keith Rose
