extends ./includes/layout
block main		
	form(action='/upload', method='post')
		input.feedback-input(name='name', type='text', placeholder='Name')
		|   
		input.feedback-input(name='email', type='text', placeholder='Email')
		|   
		textarea.feedback-input(name='text', placeholder='Comment')
		|   
		input(type='submit', value='SUBMIT')
