extends ./includes/layout
block main

	.container-fluid.contain-welcome.text-center
		.row.welcome  
			.col-md-6.col-md-offset-3.welcome-text
				.row       
					h1 SwarTessera
				.row
					p Graphical Password with Voice Authentication 
				.row.arrow
					a(href='#tech')
						i.fa.fa-chevron-circle-down   
	.container-fluid#tech
		.row.text-center.bg
			h1 Technologies Used
		.row.bg
			.col-md-3.text-center.techcon
				i.devicon-nodejs-plain-wordmark.colored
			.col-md-3.text-center.techcon
				img.press(src='http://i.imgur.com/iDWEl4d.png')
			.col-md-3.text-center.techcon
				i.devicon-mongodb-plain-wordmark.colored
			.col-md-3.text-center.techcon
				img.robo(src='http://i.imgur.com/h61UTpC.png')
			.col-md-3.text-center.techcon
				img.mathlab(src='http://in.mathworks.com/images/responsive/global/pic-header-mathworks-logo.svg')
			.col-md-3.text-center.techcon
				img.htmlcss(src='https://i.imgur.com/ABD71Ty.png')
			.col-md-3.text-center.techcon
				i.devicon-sass-original.colored
			.col-md-3.text-center.techcon
				img.grunt(src='http://i.imgur.com/R59HJqv.png')
			.col-md-3.text-center.techcon
				i.devicon-bootstrap-plain-wordmark.colored
			.col-md-3.text-center.techcon
				img.jad(src='http://jade-lang.com/style/jade-logo-header.svg')
			.col-md-3.text-center.techcon
				i.devicon-javascript-plain.colored
			.col-md-3.text-center.techcon
				i.devicon-jquery-plain-wordmark.colored