extends ./includes/layout
block main

	.container-fluid.contain-welcome.text-center
		.row.welcome  
			.col-md-6.col-md-offset-3.welcome-text
				.row       
					h1 SwarTessera
				.row
					p Graphical Password with Voice Authentication 
				.row.arrow
					a(href='#tech')
						i.fa.fa-chevron-circle-down   
	.container-fluid#tech
		.row.text-center
			h1 Technologies Used
		.row
			.col-md-3.text-center.techcon
				i.devicon-bootstrap-plain-wordmark.colored
			.col-md-3.text-center.techcon
				i.devicon-css3-plain-wordmark.colored
			.col-md-3.text-center.techcon
				i.devicon-html5-plain-wordmark.colored
			.col-md-3.text-center.techcon
				i.devicon-javascript-plain.colored
			.col-md-3.text-center.techcon
				i.devicon-jquery-plain-wordmark.colored
			.col-md-3.text-center.techcon
				i.devicon-mongodb-plain-wordmark.colored
			.col-md-3.text-center.techcon
				i.devicon-nodejs-plain-wordmark.colored
			.col-md-3.text-center.techcon
				i.devicon-sass-original.colored
