extends ./includes/layout
block main

    .container-fluid
      .row.welcome        

      .row
        - for(var i=1;i<3;i++)
          .col-md-6
            .panel.panel-primary
              .panel-heading.text-center
                h3.panel-title Featured Courses 
              .panel-body
                each val in courseList
                  if val.featured
                    .row
                      .col-md-12
                        p=val.name

        - for(var i=1;i<3;i++)
          .col-md-6
            .panel.panel-primary
              .panel-heading.text-center
                h3.panel-title New Courses 
              .panel-body
                each val in courseList
                  .row
                    .col-md-3 Published: #{val.published}
                    .col-md-9 : #{val.name}
                            
