extends ./includes/layout
block main

  .container-fluid.contain-welcome.text-center
    .row.welcome  
      .col-md-6.col-md-offset-3.welcome-text
        .row       
          h1 Swar Tessera
        .row
          p Graphical Password with Voice Authentication 
        .row.arrow
          i.fa.fa-chevron-circle-down                         