extends ./includes/layout
block main
  .container-fluid.size.register.signin
    .testbox#signup
      h1 Security Question
      |   
      form(name="form", action='/nodemailer', method="post")
        hr
        -if (match)
          .alert.alert-danger.fade.in 
            a.close(href='#', data-dismiss='alert', aria-label='close') &times;
            |Incorrect answer!
                
        label#icon(for='name')
          i.fa.fa-shield
           
        input#name(type='text', name='question', value=found.question, required='', readonly)
        
        label#icon(for='name')
          i.fa.fa-pencil-square-o
           
        input#name(type='text', name='answer', placeholder='Answer', required='')
        p Answer is case-sensitive.
        input(type="submit", value='Send').btn 