extends ./includes/layout
block main
  .container-fluid.grid
    .row
      h2 Select 4 images
    .row.text-center
      -for (var x = 0; x < 48; x++)
        .col-md-1 
          //form(action="/" method="get")
          button.icon(id='icon'+x)= x      

    .row.text-center
      // Button trigger modal
      button.btn.btn-primary.btn-lg.voice-modal(type='button', data-toggle='modal', data-target='#myModal', onmouseover="generate()")
        | Record your voice!

    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |         
            h4#myModalLabel.modal-title Modal title
          |       
          .modal-body
            p#line1
            p#line2
            p#line3
            p#line4
            p#line5
          |       
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            |         
            buttonbtn.btn-.primary(type='button') Save changes


