extends ./includes/layout
block main
  newSession()
  .container-fluid.grid
    .row
      h4 Select the icons which lies inside the square formed by your 4 icons.
    .row
      //matrix framework
      -var count=1;
      -var r=0; //row no.
      -var c=1;  //column no.
      - for (var i = 1; i <= 60; i++) 
        if(count%12 == 1)
          - r++
          - c=1
        .col-md-1(id=""+r+"|"+c)
        - c++
        - count++

  
      //- //Randomly display icons
      //- - var track = [60]
      //- - for (var i = 1; i <= 60; i++) 
      
      //-     //low (inclusive) and high (inclusive) 
      //-     //Math.floor(Math.random() * (high - low+1) + low);
      //-     - var decision=Math.floor(Math.random()*61);
      //-     if (!track[decision])
      //-       - track[decision]=true;
      //-       each val in icons
      //-         if (val.iconId==decision)
      //-           .col-md-1
      //-             a(href='#')
      //-               img.icon.icon-size(src='#{val.picture}')     
      //-     else 
      //-       - i--
      

    .row.text-center
      // Button trigger modal
      button.btn.btn-primary.btn-lg.voice-modal(type='button', data-toggle='modal', data-target='#myModal', onmouseover="generate()")
        | Record your voice!
      form(name="form", action='/', method="get")
        input.btn.btn-primary.btn-lg(type="submit", value='Submit')
      

    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |         
            h4#myModalLabel.modal-title Read the following sentences loud and clear
          |       
          .modal-body
            p#line1
            p#line2
            p#line3
            p#line4
            p#line5
          |       
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            |         
           // buttonbtn.btn-.primary(type='button') Save changes


