extends ./includes/layout
block main
  .container-fluid.grid
    .row
      h2 Select 4 images
    .row.text-center
      -for (var x = 0; x < 48; x++)
        .col-md-1 
          form(action="/selecticon/"+id method="post")
            button.icon(id='icon'+x)= x      

    .row.text-center
      // Button trigger modal
      form(action="/" method="post")
        button.btn.btn-primary.btn-lg.voice-modal(type='button')
          | Save!
