extends ./includes/layout
block main
  .container-fluid.register
    .testbox#signup
      h1 Registration
      |   
      form(name="form", action='/signup', method="post")
        hr
        | 
        label#icon(for='name')
          i.fa.fa-user
        |   
        input#name(type='text', name='name', placeholder='User name', required='')
        |     
        label#icon(for='name')
          i.fa.fa-envelope-o
        |   
        input#name(type='text', name='email', placeholder='Email', required='')
        |   
        label#icon(for='name')
          i.fa.fa-shield
        |   
        select#name(name='question', required='')
          option(disabled selected) Security question
          option(value='q1') Favourite color?
          option(value='q2') Name of first pet?
          option(value='q3') Best chocolate brand?
          option(value='q4') Mother's maiden surname?
          option(value='q5') Native place?
        |     
        label#icon(for='name')
          i.fa.fa-pencil-square-o
        |   
        input#name(type='text', name='answer', placeholder='Answer', required='')
        |   
        .gender
          input#male(type='radio', value='Male', name='gender', checked='')
          |     
          label.radio(for='male', chec='') Male
          |     
          input#female(type='radio', value='Female', name='gender')
          |     
          label.radio(for='female') Female
        |  
        |    
        p
          | By clicking Proceed, you agree on our 
          a(href='#') terms and condition
          | .
        |    
        input(type="submit", value='Proceed').button 

