doctype html
html(lang='en')
  head
    meta(charset='utf-8')    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Swar Tessera#{title}

    script(src='/vendor/jquery/dist/jquery.min.js')
    //- Since function onLoad has to be defined bfore it is called
    script(type="text/javascript" src="/js/signingrid.js")

    link(href='/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')  
    link(href='/vendor/font-awesome-4.5.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
    link(href='favicon.ico', rel='shortcut icon', type='image/x-icon')

  body
    include ../partials/header
    block main 
    include ../partials/footer

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    //- script(src='/vendor/jquery/dist/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')

    script(type="text/javascript" src="/js/selectedbtn.js")
    script(type="text/javascript" src="js/randompara.js")  
    script(type="text/javascript" src="/js/batchcall.js")