#contact-us{
  background: url('http://i.imgur.com/9uQdbEX.jpg');
  margin-top: -32px;
  height: 549px;

  .positn{
    margin-top:12%;
  }

  .c{
    color: #CB213B;
  }

  .l{
    color: #3C4753;
  }

  .k{
    color: #B65C2E;
  }
}