.grid{
  background: url(/images/grid-bg.jpg);
  background-repeat: round;
  margin-top: -40px;

  h2,h4{
  	color: $wah;
  }

  .row{
  	margin-right: 1%;
  }

.cell{
    border: 2px solid white;
}

  .info-panel{
    padding-top: 5px;
    margin-left: 2px;
  }

  .voice-modal{
  	margin-top: 20px;
  	background-color: $tint;
  	border-color: $tint;
  }
}

.icon-size{
    height: 100px;
    margin-bottom: 10%;
  }