.grid{
  background: url(/images/grid-bg.jpg);
  background-repeat: round;
  margin-top: -40px;

  h2{
  	color: $wah;
  }

  .row{
  	margin-right: 1%;
  }

  

  .voice-modal{
  	margin-top: 20px;
  	background-color: $tint;
  	border-color: $tint;
  }
}

.icon-size{
    height: 100px;
    margin-bottom: 10%;
  }