.navbar-form{
  .form-group, button{
    margin-left: 10px;
  }
}

.icon {
    text-align: center;
    color: $tint;
    font-size: 40px;
    margin-top: 1px;
}

.brand{
	padding-left: 0px;
    font-size: 23px;
}

.tab{
	margin-left: 17%;
	h3{
		margin-top: 10px;
	    color: $tint;
	}
}

.signin-btn{
    background-color: $tint;
    border-color: $tint;
    font-weight: bolder;
    color: $bla;
}