.contain-welcome{
    margin-top: -100px;
}

.welcome{
	background: url(/images/lion-bg.jpg);
    height: 650px;
    margin-top: 0px;

    a{
    	color: $tint;
    }
}

.welcome-text{
	margin-top: 12%;
    color: white;
    font-family: serif;

    h1{
	    font-size: 90px;
	}

	p{
		font-size: 25px;
		color: $hi-light-grey;
    	font-weight: bold;
	}  

	.arrow{
		color: $tint;
	    font-size: 50px;
	    margin-top: 30%;
	}
}

#tech{
	h1{
		color: $tint;
	    margin: 45px 0px 40px 0px;
	    font-family: monospace;
    	font-size: 45px;
	}

	.press{
	    width: 175px;
	}
	
	.techcon{
		font-size: 120px;
		margin: 10px 0px 10px 0px;
	}

	.robo{
    	height: 135px;
	}

	.mathlab{
	    width: 260px;
	}

	.htmlcss{
	    height: 125px;
	}

	.grunt{
	    height: 145px;
	    margin-top: -40px;
	}

	.jad{
	    width: 222px;
	}
}